---
layout: page
---
{{ content }}

{% assign book_doc = site.books | where_exp:"item", "item.books" | first %}
{% assign collection = book_doc.books %}
{% if collection and collection.size > 0 %}
  <div class="row row-cols-1 row-cols-md-3">
    {% for item in collection %}
      {% assign current_year = item.finished | date: '%Y' %}
      {% if current_year != year %}
        {% unless forloop.first %}
          </div><hr>
        {% endunless %}
        <div class="col-12 w-100">
          <h2 id="y{{ current_year }}">{{ current_year }}</h2>
        </div>
        <div class="row row-cols-1 row-cols-md-3 w-100">
        {% assign year = current_year %}
      {% endif %}

      <div class="col mb-4">
        <figure class="cover">
            {% if item.cover %}
              <img alt="{{ item.title }} cover" src="{{ item.cover | relative_url }}" style="height:200px; width: auto; object-fit: contain;">
            {% elsif item.olid %}
              <img alt="{{ item.title }} cover" src="http://covers.openlibrary.org/b/olid/{{ item.olid }}-L.jpg?default=false" style="height:200px; width: auto; object-fit: contain;">
            {% elsif item.isbn %}
              <img alt="{{ item.title }} cover" src="http://covers.openlibrary.org/b/isbn/{{ item.isbn }}-L.jpg?default=false" style="height:200px; width: auto; object-fit: contain;">
            {% endif %}
            
            <figcaption style="text-align: center; margin-top: 10px;">
              <strong>{{ item.title }}</strong><br>
              by {{ item.author }}
              {% if item.status %}
                <br>
                {% assign statuses = 'abandoned,finished,interested,paused,queued,reading,reread' | split: ',' %}
                {% assign status = item.status | downcase | strip %}
                <span class="badge {% if status == 'finished' or status == 'reading' %}badge-success{% else %}badge-secondary{% endif %}">{{ item.status }}</span>
              {% endif %}
            </figcaption>
        </figure>
      </div>
    {% endfor %}
  </div>
{% endif %}
